<div>
<div id='menubar'>
<div>Home</div>
<div>Receipts</div>
</div>
<div id='navMain'>
 <div id='leftnav'>
<div>Tasks</div>
<div>Expense Reports</div>
<div>Receipts</div>
 </div>
 <div id='main'>
{{outlet main}}
 </div>
</div>
<div id='rightpane'>
{{outlet rightnav}}
</div>
</div>